select.comboboxStyle(name='availability')
    option(value='' disabled selected style="display:none;") DISPONIBILIDAD
    option(value='available') AVAILABlE
    option(value='reserved') RESERVED
    option(value='snoozed') SNOOZED
