select.comboboxStyle(name='states')
    option(value='' disabled selected style="display:none;") ESTADOS
    option(value='error') ERROR
    option(value='manual') MANUAL
    option(value='pending') PENDING