select.comboboxStyle(id='state' name='state' ng-model="state" ng-change="$ctrl.filterState(state)" ng-disabled="!$ctrl.works")
    option(value='') -- Todos --
    option(value='error') ERROR
    option(value='manual') MANUAL
    option(value='pending') PENDING