.row{
  margin: 0;
  padding: 0
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.work-ctn{
  margin: 0;
  padding: 5px;
  border-bottom: 2px solid #ff5f00;
  height: 55px;
  background-color: #dbc5e5;
  box-shadow: inset 0px 0px 10px 0px rgba(174, 174, 255, 0.76);
}

.col-md-12{
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
  margin: 0;

}
li{
  padding: 0;
  margin: 0;
  list-style: none;

}
