.container-fluid
    main.row.work-ctn
        section.work-header.col-md-12
            filters(filters="$ctrl.filters")
            work-list(works = '$ctrl.works', item-reserve='$ctrl.sendReserve($event)' filters="$ctrl.filters")




