.filterById{
  .setId{
    margin-left: 5px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
  }
  span{
    padding-left: 8px;
    font-weight: bold;
  }
}
