@import "filterById/filterById";
@import "filterByState/filterByState";
@import "filterByDate/filterByDate";

table#filters{
  margin-bottom: 5px;
  tbody{
    background-color: #dff0d8;

    .inputStyle{

      height: 28px;
      width: 100px;
      font-size: 12px;
      font-weight: bold;
      padding-left: 4px;
      &:focus{
        outline:none;
        border:1px solid #337ab7;
      }
    }
    .inputStyleDate{
      width: 150px;
      &:focus{
        outline:none;
        border:1px solid #337ab7;
      }
    }
    .text{
      width: 120px;
    }
    .comboboxStyle{
      background-color: #ffffff;
      font-size:12px;
      height: 28px;
      font-weight: bold;
      width: 120px;
      &:focus{
        outline:none;
        border:1px solid #337ab7;
      }
      option{
        border:none;
        font-weight: bold;
        font-size: 12px;
      }

    }
    p{
      font-weight: bold;
      font-size:12px;
    }
  }
}