table#filters(class="table")
    thead
        th Filtrar Id
        th Filtrar Estado
        th Flltrar Etapa
        th Filtrar Disponibilidad
        th Filtrar Fecha
    tbody.filterHeader
        td
            filter-by-id( works="$ctrl.works" )
        td
            filter-by-state(works="$ctrl.works" )
        td
            filter-by-stage(works="$ctrl.works" )
        td
            filter-by-availability(works="$ctrl.works" )
        td
            filter-by-date(works="$ctrl.works" )
