select.comboboxStyle(name='stage')
    option(value='' disabled selected style="display:none;") ESTAPAS
    option(value='booking') BOOKING
    option(value='bsp') BSP
    option(value='fraud') FRAUD
    option(value='invoice') INVOICE
    option(value='refund') REFUND