table{
  border: 1px solid black;
  thead{
    background-color: #e8252e;
  }

  span{
    float: right;
    position: relative;
    right: 30%;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 8%;
    padding: 1px 4px;
    font-weight: bold;
    background-color: lightgreen;
  }

  .fa-caret-down{
    color: #e8252e;
    transition: color .9s;
    float: right;
  }

  th{
    cursor:pointer;
    transition: background-color .9s;
  }
  th:hover{
    background-color: indianred;

    transition: background-color .3s;
    .fa-caret-down{
      color: #333333;

    }
  }

  #timer{
    background-color: #333333;
    border:none;
    font-family: monospace;
    font-weight: bold;
    color:white;
  }
}
