table.tasks{
  .id{
    width: 8%;
  }
  .stateTask{
    width: 8%;
  }
  .channel{
    width: 7%;
  }
  .country{
    width: 5%;
  }
  .user{
    width: 9%;
  }
  .date{
    width: 12%;
  }
  .availability{
    width: 15%;
  }
  .stage{
    width: 8%;
  }
  .product{
    width: 12%;
  }
  .typeTask{
    width: 17%;
  }
  .reserve{
    float: right;
    position: relative;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 8%;
    padding: 6px 12px;
    background-color: #337ab7;
    color: #fff;
    &:hover{
      background-color: #204d74;
      border: 1px solid #204d74;
    }
  }
  .snoozed{
    float: right;
    position: relative;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 8%;
    font-weight: bold;
    padding: 0 12px;
    background-color: #337ab7;
    color: #fff;
  }
  .fa-caret-down{
    color: black;
    transition: color .9s;
    float: right;
  }

  th{
    cursor:pointer;
    transition: background-color .9s;
  }
  th:hover{
    background-color: #444444;
    transition: background-color .3s;
    .fa-caret-down{
      color: #ffffff;
    }
  }


}
#msg-empty-list{

  p{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border: 1px solid #2e6da4;
    background-color: rgba(223,240,216,1);
    width:50%;
    margin: 10px auto;
  }
}
.btn-group{
  margin-left: 40%;
  margin-right: 20%;
  padding:5px;
  .btn.back-next{
      background-color: #dff0d8;
      color: black;
  }
  .btn.active{
    background-color: #dff0d8;
    color: black;
    transition: background-color .8s;
  }
}