#refresh{
  font-weight: bold;
  float: right;
  margin-bottom: 5px;
  button{
    font-size:15px;
    border-radius: 10%;
    color: #337ab7;
    border: 1px black solid;
  }
  button:focus{
    outline:none;
  }
  button:active{
    background-color: #999999;
    color: #204d74;
  }
}

table.tasks{
  table-layout: fixed;

  td{
    overflow: hidden;
  }
  .id{
    width: 11%;
  }
  .stateTask{

    width: 7%;
  }
  .channel{
    width: 5%;
  }
  .country{
    width: 5%;
  }
  .user{
    width: 10%;
  }
  .date{
    width: 12%;
  }
  .availability{
    width: 12%;
  }
  .stage{
    width: 7%;
  }
  .product{
    width: 12%;
  }
  .typeTask{
    width: 18%;
  }
  .reserve{
    float: right;
    position: relative;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 8%;
    padding: 6px 12px;
    background-color: #337ab7;
    color: #fff;
    &:hover{
      background-color: #204d74;
      border: 1px solid #204d74;
    }
  }
  .snoozed{
    float: right;
    position: relative;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 8%;
    font-weight: bold;
    padding: 0 12px;
    background-color: #337ab7;
    color: #fff;
  }
  .fa-caret-down{
    color: black;
    transition: color .9s;
    float: right;
  }

  th{
    cursor:pointer;
    transition: background-color .9s;
  }
  th:hover{
    background-color: #444444;
    transition: background-color .3s;
    .fa-caret-down{
      color: #ffffff;
    }
  }
  td{
    height: 40px;
  }
}
#msg-loading{

  .fa-refresh{
    color:#337ab7;
    position: relative;
    left: 48%;
    font-size:32px;
  }
}
.loading{
    margin-top:5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
#msg-empty-list{

  p{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border: 1px solid #2e6da4;
    background-color: #f2eff7;
    width:50%;
    margin: 10px auto;
  }
}

#paginator{
  text-align: center;
  padding: 0 auto;
  .btn-group{
    margin: 0 auto;
    button{
      background-color: white;
      border:none;
      width: 38px;
      height: 36px;
      margin: 0 2px;
      font-weight: bold;
      transition: background-color .8s;
      &:focus{
        outline:none;
      }
      &.active{
        color: #2e6da4;
        border-bottom: 2px solid #2e6da4;
        transition: background-color .8s;
      }
      &:hover{
        color: #888888;
      }
      &:disabled{
        color: #999999;
      }
    }

  }





}