table(class="table table-hover")
    thead
        tr
            th Id
            th Estado de tarea
            th Canal
            th Pais
            th Agente
            th Fecha de creacion
            th Tipo
    tbody
        tr.item-tasks(ng-repeat="item in $ctrl.works.tasks |filterById:($ctrl.filters._id) track by $index")
            td {{$ctrl.itemIsEmpty(item.cart.cart_id)}}
                span(ng-click="$ctrl.itemReserve({ $event:{reserve:{cart_id:item.cart.cart_id,user_id:'bot'}}})") Reservar
            td {{$ctrl.itemIsEmpty(item.cart.status)}}
            td {{$ctrl.itemIsEmpty(item.cart.source.channel)}}
            td {{$ctrl.itemIsEmpty(item.cart.source.country)}}
            td {{$ctrl.itemIsEmpty(item.state.user_id)}}
            td {{$ctrl.itemIsEmpty(item.cart.creation_date)}}
            td {{$ctrl.itemIsEmpty(item.state.type)}}