table.tasks(class="table table-hover")
    thead
        tr
            th.id(ng-click="$ctrl.orderBy('id')") Id <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.typeTask(ng-click="$ctrl.orderBy('typeTask')") Tipo <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.stage(ng-click="$ctrl.orderBy('stage')") Etapa <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.stateTask(ng-click="$ctrl.orderBy('status')") Estado <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.channel(ng-click="$ctrl.orderBy('channel')") Canal <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.country(ng-click="$ctrl.orderBy('country')") Pais <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.user(ng-click="$ctrl.orderBy('agent')") Agente <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.date(ng-click="$ctrl.orderBy('dateCreation')") Fecha de creacion <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.product(ng-click="$ctrl.orderBy('product')") Producto <i class="fa fa-caret-down" aria-hidden="true"></i>
            th.availability(ng-click="$ctrl.orderBy('availability')") Disponibilidad <i class="fa fa-caret-down" aria-hidden="true"></i>
    tbody(ng-show="!($ctrl.listIsEmpty())")
        tr.item-tasks(ng-attr-id="element" ng-repeat="item in $ctrl.tasksPaginated |startFromGrid:$ctrl.currentPage * $ctrl.itemsPerPage|limitTo:$ctrl.works.limit track by $index")
            td.id {{$ctrl.itemIsEmpty(item.cart.cart_id)}}
                //.reserve(ng-click="$ctrl.itemReserve({ $event:{reserve:{cart_id:item.cart.cart_id,user_id:'bot'}}})") Reservar
            td.typeTask {{$ctrl.itemIsEmpty(item.type)}}
            td.stage {{$ctrl.itemIsEmpty(item.cart.stage)}}
            td.stateTask {{$ctrl.itemIsEmpty(item.cart.status)}}
            td.channel {{$ctrl.itemIsEmpty(item.cart.source.channel)}}
            td.country {{$ctrl.itemIsEmpty(item.cart.source.country)}}
            td.user {{$ctrl.itemIsEmpty(item.state.user_id)}}
            td.date {{$ctrl.itemIsEmpty(item.cart.creation_date)}}
            td.product {{$ctrl.itemIsEmpty(item.cart.reservations[0].product)}}
            td.availability {{$ctrl.itemIsEmpty(item.state.type)}}
                span.snoozed(ng-if="item.state.type=='SNOOZED'" ng-attr-id="{{item.cart.cart_id}}")

#msg-empty-list
    p El ID ingresado no se encuentra en el registro.
#msg-loading
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>

#paginator(ng-if="$ctrl.pagination.pages != 0")
    .btn-group
        button(type='button' ng-disabled='$ctrl.works.offset.currentPage == 1' ng-click='$ctrl.works.offset.currentPage = 1; $ctrl.WorksRootController.comboPages = 1; $ctrl.WorksRootController.confiPages(); $ctrl.WorksRootController.setPage(1);') Inicio
        button.back-next(type='button' ng-disabled='$ctrl.works.offset.currentPage == 1' ng-click='$ctrl.WorksRootController.setPage($ctrl.works.offset.currentPage - 1)') &laquo;
        button(type='button' ng-if="$ctrl.WorksRootController.comboPages != 1") ...
        button(type='button' ng-repeat="page in $ctrl.pagination.pages track by $index" ng-click="$ctrl.WorksRootController.setPage(page)" ng-class="{active: $ctrl.works.offset.currentPage == page}") {{page}}
        button(type='button' ng-if="$ctrl.WorksRootController.comboPages != $ctrl.WorksRootController.limitComboPages") ...
        button.back-next(type='button' ng-disabled='$ctrl.works.offset.currentPage >= $ctrl.works.offset.size' ng-click='$ctrl.WorksRootController.setPage($ctrl.works.offset.currentPage + 1)') &raquo
        button(type='button' ng-disabled='$ctrl.works.offset.currentPage == $ctrl.works.offset.size' ng-click='$ctrl.works.offset.currentPage = $ctrl.works.offset.size; $ctrl.WorksRootController.comboPages = $ctrl.WorksRootController.limitComboPages; $ctrl.WorksRootController.confiPages();$ctrl.WorksRootController.setPage($ctrl.works.offset.size);') Fin

