ul
    li
        span.header.col-md-2 Id
        span.header.col-md-2 Estado de tarea
        span.header.col-md-2 Canal
        span.header.col-md-2 Pais
        span.header.col-md-2 Agente
        span.header.col-md-2 Fecha de creacion
    li(ng-repeat = 'work in $ctrl.works track by $index')

